body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.janus-video{
  width: 500px;
  /* height: 500px; */
}

.janus-video-container{
  background-color: #000;
  width: 100%;
}

.janus-video-player{
  width: 100%;
  height: 300px;
}

.janus-video-status{
  height: 20px;
  padding: 10px 10px 5px 10px;
  color: #fff;
  font-size: 12px;
}

.janus-video-controls{
  height: 40px;
  background-color: #333;
  display: flex;
  flex-direction: row;
  padding-left:10px;
  padding-top: 5px;
}

.janus-btn{
  font-size: 12px;
  margin-right: 10px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  height: 20px;
  padding: 5px;
  line-height: 20px;
}

.janus-btn:hover{
  cursor: pointer;
  background-color: #0000009a;
}

.janus-select{
  margin-left: auto;
  padding-right: 10px;
  padding-top: 3px;
}

.janus-select select{
  background-color: #0c71a0;
  color: #fff;
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 5px;
  /* height: 50px; */
  appearance: none;
  /* line-height: 50px */
}

.janus-select select:focus{
  outline: none;
}

.janus-chat-container{
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.janus-chat-history{
  height: 300px;
  border:1px solid #ddd;
  padding: 10px;
  overflow-y: scroll;
}

.janus-chat-control{
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-top: none;
}

.janus-chat-control input{
  height: 20px;
  border: 1px solid #ddd;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%
}

.janus-chat-control button{
  border: 1px solid #ddd;
  background-color: transparent;
  margin-left: 5px;
  height: 25px;
}

.janus-chat-control button:hover{
  background-color: rgb(218, 214, 214);
  cursor: pointer;
}

.janus-chat-control button:active{
  background-color: #a7a4a4;
}

.janus-chat-display{
  text-align: left;
  font-size: 13px;
  height: 25px;
}

.janus-chat-display .user{
  font-weight: bold;
  color: rgb(85, 84, 84);
  margin-right: 5px;
}

.janus-chat-display .date{
  font-style: italic;
  margin-right: 5px;
}

